@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
#root {
  min-height: 100vh;
  font-family: roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #e5e6f0;
}

button,
input {
  font: inherit;
}
